@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


 body{
        /* background: url(./assets/pexels-ekaterina-bolovtsova-6077326.jpg); */
         justify-content: center;
         background-size: 1250px;
         color: #ffffff;
         background-color: #2d231b;
    font-family: Montserrat ;
    position: relative;



}

.navbar img{
    /* padding-left: 40px; */
    height: 45px;
    width: 130px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 30px 80px;
    
}

.navbar .list-item:hover{
    font-weight: 800;

}
.navbar .list-item{
    display: inline-block;
    padding: 5px 40px;
    
  }


  .list-item-btn{
    background-color: transparent;
    
    border-radius: 10px;
    color: #b7a23a;
    font-weight: bold;
    font-size:medium;
  padding: 8px 15px;
    font-family: sans-serif;
  border-radius: 10px;
    border: 1px solid #b7a23a;
    letter-spacing: 0.5px;
}

  h1{
    font-weight: 600;
    text-transform: capitalize;
  }

.hero{
    position: relative;
    display: flex;
    background-color: #2d231b;
}

.hero-left{
    font-size: 50px;
    font-weight: 800;
    padding: 0 110px;
}

.hero-right{
    justify-content: center;
    padding: 60px 0;
    line-height:  30px;
    font-size: 18px;
    /* border: 5px solid green; */
    position: relative;
    right: 50px;
    
}


.banner-container img{
    position: relative;
    /* width: 1400px;
    height: 1400px; */
    max-width: 1250px;
    /* bottom: 30px; */
    z-index: -1;
    bottom: 150px;
}

.arrow-btns{
    position: relative;
    /* border: 5px solid red; */
    bottom: 300px;
    padding: 100px;
    background-color: #2d231b;
    /* border: 5px solid salmon;    */
}

.arrow-btns img{
    position: absolute;
    right: 50px;

}

.fa-angle-left{
    position: relative;
    right: 50px;
}

